
# Build artifacts
# Editor and OS files
# Local configuration and secrets
# Python
# personal notes
*$py.class
*.age
*.egg-info/
*.env
*.journal
*.py[cod]
*.so
*.swp
.DS_Store
.Python
.idea/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/
/nexus-bin
/nexus.exe
HANDOVER.md
JOURNAL.md
__pycache__/
build/
coverage.out
dist/
env/
htmlcov/
nexus.yaml
pip-wheel-metadata/
venv/
